/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
}

.mat-snack-bar-container.error {
    background-color: #f44336;
}

.mat-snack-bar-container.success {
    background-color: #44ca6c;
}